@font-face {
  font-family: 'daniel';
  src: url('../../public/fonts/danielbd-webfont.woff2') format('woff2'),
       url('../../public/fonts/danielbd-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}