$knob-width: 75px;

.knob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.knob-wrapper {
  position: relative;
  width: $knob-width;
  height: $knob-width;

  .knob,
  .knob-base,
  .knob-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .knob {
    pointer-events: none;
  }

  .knob-handle {
    z-index: 1;
  }
}
