.knob {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include large-up() {
    margin-bottom: 1rem;
  }
}

.knob-wrapper {
  position: relative;
  width: $knob-width-small;
  height: $knob-width-small;
  margin-bottom: 5px;

  @include large-up() {
    margin-bottom: 0;
    width: $knob-width;
    height: $knob-width;
  }

  .knob,
  .knob-base,
  .knob-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .knob {
    pointer-events: none;
  }

  .knob-handle {
    z-index: 1;
  }
}

.knob-label {
  text-shadow: 1px 1px 1px transparentize(white, .2);
  font-size: 15px;

  @include large-up() {
    font-size: 16px;
  }
}
