.rack {
  display: flex;
  box-shadow: 5px 5px 30px black;
  user-select: none;
  height: 100%;
}

.rack-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  background-image: url('../../public/background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  @include large-up() {
    padding: 20px 0;
    flex-direction: row;
    width: auto;
    flex-wrap: nowrap;
  }
}

.handle {
  width: 70px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;

  @include large-up() {
    display: block;
  }

  &--left {
    background-image: url('../../public/rack-handle-left.png');
  }

  &--right {
    background-image: url('../../public/rack-handle-right.png');
  }
}
