.section {
  padding: 0 $section-spacing;
}

.section-title {
  font-family: 'daniel', sans-serif;
  display: inline-block;
  margin: 0 0 1rem;
  padding: 15px 10px 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &--signal {
    background-image: url('../../public/tape1.png');
  }

  &--lfo {
    background-image: url('../../public/tape2.png');
  }

  &--delay {
    background-image: url('../../public/tape3.png');
  }
}

.lfo {
  margin-bottom: $section-spacing * 2;
}