.trigger-signal {
  cursor: pointer;
  display: flex;
  position: relative;
  border: 0;
  background-color: transparent;
  background-image: url('../../public/big-button-off.png');
  background-size: 100% 100%;
  width: 100%;
  height: 50px;
  outline-width: 0;
  transition: filter ease-out 150ms;

  &::after {
    content: "";
    box-shadow: 0 0 20px 5px #9e0b0b;
    opacity: 0;
    transition: opacity ease-out 150ms;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:active,
  &.active {
    background-image: url('../../public/big-button-on.png');
    filter: brightness(1.5);

    &::after {
      opacity: 1;
    }
  }

  svg {
    display: block;
    margin: auto;
    width: 25px;
    fill: #909090;
    mix-blend-mode: multiply;
  }
}