// VENDORS
@import "~normalize.css/normalize";

// LOCAL
@import "./abstract/system-font-stack";
@import "./abstract/variables";
@import "./abstract/breakpoint";
@import "./fonts";
@import "scene";
@import "./rack";
@import "./informations";
@import "./section";
@import "./knob";
@import "./custom-checkbox";
@import "./trigger-signal";

body {
  background: radial-gradient(circle, #2b2b2b 0%, #272727 50%, #000000 100%);
  overflow: hidden;

  @include large-up() {
    overflow: auto;
  }
}

.spritesheet {
  display: none;
}